#body {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-header {
  border-bottom: 1px solid #858484;
  background-color: #ffffff;
}

a.cart-link {
  color: #858484;
  margin-left: 30px;
}

#checkout-link {
  display: block;
  background-color: green;
  color: #ffffff;
  width:fit-content;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 10px;
}

.cart-page {
  background-color: rgb(253, 241, 241);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  max-width: 100%;
  margin-left: 20px;
}

#totalPrice{
  font-style: oblique;
  width: 150px;
  margin-left: 10px;
}

.note {
  position: fixed;
  margin: auto;
  top: 140px;
  left: -300px;
  background-color: rgb(249, 187, 187);
  border-radius: 5px;
  padding: 3rem 3rem;
  max-width: 60%;
  transition: all 0.5s ease-in-out;
}

.left img{
  width: 70%;
  height: 210px;
  object-fit: contain;
  margin-left: 20px;
}

.product-name {
  color:#216b7d;
  margin-left: 20px;
}

.delete-btn {
  background-color: tomato;
  padding: 5px 10px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
}

.price {
  margin-left: 20px;
}

.btn-continue-shopping {
  display: block;
  width:fit-content;
  color: white;
  background-color: rgb(137, 144, 137);
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 8px 25px;
}

@media (min-width: 600px) {
.product-name {
  margin-left: 120px;
}
  
.delete-btn {
  margin-left: 120px;
}
  
.price {
  margin-left: 120px;
}

}

@media (min-width: 800px) {

.left img {
  width: 70%;
  height: 210px;
  object-fit: contain;
  margin-left: -60px;
}

}

@media (min-width: 900px) {
.product-name {
  margin-left: 150px;
}
    
.delete-btn {
  margin-left: 150px;
}
    
.price {
  margin-left: 150px;
}
  
}

@media (min-width: 1000px) {

.left img {
  margin-left: -80px;
}
  
}

@media (min-width: 1100px) {

.left img {
  margin-left: -120px;
}
    
}

@media (min-width: 1200px) {

.left img {
  margin-left: -160px;
}
      
}

@media (min-width: 1300px) {

.left img {
  margin-left: -200px;
}
        
}

@media (min-width: 1600px) {

.left img {
  margin-left: -300px;
}
          
}

@media (min-width: 1900px) {

.left img {
  margin-left: -400px;
}
            
}