#body {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.left img{
  width: 70%;
  height: 210px;
  object-fit: contain;
  margin-left: 20px;
}

.product-name {
  color: #216b7d;
  text-align: left;
  margin-left: 20px;
}

.price {
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: left;
}

#totalPrice {
  font-weight: 600;
  margin-left: 20px;
}

@media (min-width: 600px) {
.product-name {
  margin-left: 150px;
}
    
.price {
  margin-left: 150px;
}
  
}

@media (min-width: 800px) {
.product-name {
   margin-left: 200px;
}
        
.price {
  margin-left: 200px;
}
      
}

@media (min-width: 900px) {
.product-name {
  margin-left: 250px;
}

.price {
  margin-left: 250px;
}
    
}

@media (min-width: 1000px) {

.left img {
  margin-left: -30px;
}
    
}

@media (min-width: 1200px) {

.left img {
  margin-left: -100px;
}
        
}

@media (min-width: 1600px) {

.left img {
  margin-left: -200px;
}
          
}

@media (min-width: 1900px) {

.left img {
  margin-left: -300px;
}
              
}