/*Real site begins here*/
.background-picture-mountain {
    background-image: url("../Images/Img-mountain.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

/*text, first section*/
.container-align-text {
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}

/*slogan is part of js*/
.slogan {
    color: #0a3641;
}

.cta-button {
    background-color: #0a3641;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

/*jackets*/
.sale {
    color: #E71111;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container-div {
    width: 160px;
    text-align: center;
    padding: 8px;
}

.flex-container-div p {
    color: #000;
}

/*picture of people in the mountain*/
/*.flex-container-div2 {
    background-image: url("../Images/img-peoplewalkinginmountain.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 200px;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}*/

.logo-cta-button {
    background-color: #0a3641;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
}

.button {
    margin-top: 10px;
}

/*pictures of activities*/
.container-active-people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin-top: 20px;
    padding: 10px;
    background-color: #d6d6d7;
}

.img-active-people {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (min-width: 400px) {
/*jackets*/
.flex-container {
    justify-content: left;
    margin-left: 20px;
    gap: 10px;
}

.flex-container-div2 {
    min-width: 280px;
}

.img-flex-logo {
    block-size: 60px;
    align-items: center;
}

.logo-cta-button {
    display: block;
    width: 130px;
    margin-left: 60px;
}

.img-active-people {
    border: 1px solid #ffffff;
}

}

@media (min-width: 450px) {

.flex-container {
    margin-left: 40px;
}

}

@media (min-width: 600px) {
/*jackets*/
.img-flex1 {
    border: 2px solid #B0CCD3;
    border-radius: 2px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}
    
.img-flex3 {
    border: 2px solid #B0CCD3;
    border-radius: 2px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}
    
.img-flex4 {
    border: 2px solid #B0CCD3;
    border-radius: 2px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}
    
.img-flex6 {
    border: 2px solid #B0CCD3;
    border-radius: 2px;
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.flex-container-div {
    width: 110px;
}

.flex-container-div2 {
    min-width: 455px;
}

.logo-cta-button {
    margin-left: 150px;
}

/*pictures of activities*/
.container-active-people {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

}

@media (min-width: 680px) {

.flex-container {
    margin-left: 70px;
}

.img-flex1 {
    width: 100%;
}

.img-flex4 {
    width: 100%;
}

.img-flex3 {
    width: 100%;
}

.img-flex6 {
    width: 100%;
}

}

@media (min-width: 800px) {

.container-align-text {
    padding-top: 80px;
}

/*jackets*/
.flex-container {
    gap: 45px;
}

.flex-container-div2 {
    min-width: 570px;
}

.logo-cta-button {
    margin-left: 210px;
}

}

@media (min-width: 1000px) {

/*jackets*/
.flex-container {
    gap: 35px;
    margin-left: 120px;
}

.flex-container-div {
    width: 160px;
}

.flex-container-div2 {
    background-repeat: no-repeat;
    min-width: 700px;
}

/*pictures of activities*/
.container-active-people {
    gap: 0px;
}

.img-active-people {
    border: 1px solid #ffffff;
}

.logo-cta-button {
    margin-top: -20px;
    margin-left: 275px;
}

}

@media (min-width: 1100px) {

/*jackets*/
.flex-container {
    margin-left: 160px;
}

}

@media (min-width: 1200px) {

/*jackets*/
.flex-container {
    margin-left: 200px;
}

.images-container {
   margin-left: 30px;
}

}

@media (min-width: 1300px) {

/*jackets*/
.flex-container-div {
    width: 200px;
}

.flex-container-div2 {
    min-width: 900px;
}

.img-flex-logo {
    margin-top: -20px;
}

.logo-cta-button {
    margin-top: -30px;
    margin-left: 375px;
}

}

@media (min-width: 1600px) {

.flex-container {
    margin-left: 300px;
}
  
/*pictures of activities*/
.container-active-people {
    display: flex;
}

.img-active-people {
    width: 250px;
    margin-left: 100px;
}

}

@media (min-width: 1900px) {

.flex-container {
    margin-left: 450px;
}

/*pictures of activities*/      
.img-active-people {
    width: 300px;
}

}