h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.jacket-specific-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.img-jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.details-jacket {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container-product-information {
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    text-align: center;
    color: #0a3641;
    padding-top: 40px;
    margin-left: 20px;
}

.add-to-cart-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.sale {
    color: #E71111;
    font-weight: bolder;
    text-align: center;
}

@media (min-width: 375px) {

.container-product-information {
    margin-left: 70px;
}

}

@media (min-width: 450px) {

h1 {
    text-align: left;
    width: 330px;
    padding-top: 40px;
    margin-left: 60px;
}

.img-jacket {
    margin-left: 80px;
    padding-top: 40px;
}

.details-jacket {
    margin-left: 80px;
}

.container-product-information {
   text-align: left;
}

.sale {
    text-align: left;
}

.add-to-cart-button {
    margin-left: 0px;
}

}

@media (min-width: 600px) {

h1 {
    padding-top: 100px;
}

.jacket-specific-container {
    float: left;
    width: 50%;
    margin-top: 40px;
}

.container-product-information {
    text-align: left;
    padding-top: 20px;
    margin-bottom: 200px;
}

.sale {
    text-align: left;
}

.add-to-cart-button {
    margin: 0px;
    text-align: center;
}

}

@media (min-width: 680px) {

.container-product-information {
    width: 300px;
}
    
}

@media (min-width: 800px) {

header {
    margin-top: -100px;
}

}

@media (min-width: 1000px) {

h1 {
    margin-left: 300px;
}

.jacket-specific-container {
    width: 300px;
    margin-left: 20%;
}

}

@media (min-width: 1400px) {

h1 {
    margin-left: 500px;
}

.jacket-specific-container {
    margin-left: 28%;
}

}

@media (min-width: 1900px) {

h1 {
    margin-left: 700px;
}

.jacket-specific-container {
    margin-left: 33%;
}

}