#body {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.left img{
  width: 70%;
  height: 210px;
  object-fit: contain;
  margin-left: 20px;
}

.product-name {
  color: #216b7d;
  text-align: left;
  margin-left: 20px;
}

.price {
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: left;
}

#totalPrice {
  font-weight: 600;
  margin-left: 20px;
}



