#body {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-header {
  border-bottom: 1px solid #858484;
  padding: 1rem 3rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-link {
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 1rem 3rem;
  color: black;
  background-color: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.cart-page {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  max-width: 100%;
}

.note {
  position: fixed;
  margin: auto;
  top: 100px;
  left: -300px;
  background-color: #1bd8cf;
  border-radius: 5px;
  padding: 3rem 3rem;
  max-width: 60%;
  transition: all 0.5s ease-in-out;
}

.left img{
  width: 70%;
  height: 300px;
  object-fit: contain;
  margin-left: 20px;
}

.product-name {
  margin-left: 20px;
}

.delete-btn {
  background-color: tomato;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1rem;
}

.price {
  margin-left: 20px;
}
